#
# AIFO-Coder .env
#

# aifo-coder endpoint key/base/version
AIFO_API_KEY="xxxx"
AIFO_API_BASE="https://xxxx.openai.azure.com/"
AIFO_API_VERSION="YYYY-MM-DD-postfix"

# release assets token for publishing
RELEASE_ASSETS_API_TOKEN="xxxxx"
